<li class="list-group-item">
	<%= content_tag( 'h2', link_to( instrument.title, instrument.procedure_browser_url ) ) %>
	<%= content_tag( 'p', "Laid on: #{instrument.laid_on.strftime( $DATE_DISPLAY_FORMAT )}" ) %>
	<%= content_tag( 'p', "Made on: #{instrument.made_on.strftime( $DATE_DISPLAY_FORMAT )}" ) %>
	<%= content_tag( 'p', "Subject to: #{instrument.procedure} procedure" ) %>
	<%= content_tag( 'p', "Posted to Bluesky: #{instrument.posted_to_bluesky}" ) %>
	<%= content_tag( 'p', "Posted to Mastodon: #{instrument.posted_to_mastodon}" ) %>
	<%= content_tag( 'p', "Imported: #{instrument.created_at.strftime( $DATETIME_DISPLAY_FORMAT )}" ) %>
</li>